.map-container {
    width: 99%; /* רוחב של 80% מהקונטיינר */
    height: 100vh; /* גובה של 80vh */
    margin: auto; /* מרכז את הקונטיינר */
    border: 1px solid #ccc; /* מסגרת */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* הצללה */
    margin-top: -2%; /* רווח עליון */
    
  }
  